<nav class="main-nav">
    <ul>
                {% for item in menu %}
                    <li>
                        <a href="{{item.href}}" class="{{'active' if page == item.key}}">{{item.name}}</a>
                    </li>
                {% endfor %}
    </ul>
</nav>
